/*
 *
 * COMMON CONFIG STYLE
 *
 */

*{
    box-sizing:border-box;
    outline:none;
}

body{
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: helvetica;
	color:#333;
	margin:0px auto;
	@include gradient(90deg,#ddd,#fff);
	background-size:100% 100%;
	min-height:100%;
	padding:20px;
}

h1,h2,h3,h4,h5,h6{
	@include block;
	padding:0px;
	margin:0px;
	margin-bottom:20px;
}

ul{
	@include block;
	padding-left:20px;
	margin:0px;
	margin-bottom:20px;
	line-height: 150%;
}

p{
	@include block;
	padding:0px;
	margin:0px;
	margin-bottom:20px;
	line-height: 150%;
}

a{
	color:inherit;
	text-decoration: none;
	color:#f00;
	cursor: pointer;
}

.all{
	width:800px;
	background:#fff;
	@include box-shadow(0px 0px 10px rgba(0,0,0,0.1));
	margin:0px auto;
	overflow: hidden;
	margin-top:40px;
	padding:20px;
}

.swiper-container{
	@include block;
	height:400px;
	overflow: hidden;
	background:#000;
	padding:10px;
	margin-top:20px;
	.swiper-slide{
		background:#fff;
	}
}

.normal_slider{
	&-left{
		position:absolute;
		left:20px;
		top:50%;
		width:40px;
		margin-top:-20px;
		background:rgba(255,0,0,0.5);
		z-index:2;
		height:40px;
		cursor: pointer;
		@include opacity(0.8);
		&:hover{
			@include opacity(1);
		}
		&.swiper-button-disabled{
			display: none;
		}
	}
	&-right{
		position:absolute;
		right:20px;
		top:50%;
		width:40px;
		margin-top:-20px;
		background:rgba(255,0,0,0.5);
		z-index:2;
		height:40px;
		cursor: pointer;
		@include opacity(0.8);
		&:hover{
			@include opacity(1);
		}
		&.swiper-button-disabled{
			display: none;
		}
	}
}

.gallery{
	@include block;
	margin-top:20px;
	a{
		display: block;
		float:left;
		width:25%;
		cursor: pointer;
		border:2px solid #fff;
		img{
			width:100%;
			height:auto;
		}
	}
}











